.kategori-title {
    text-align: center;
}

.admin-menu {
    text-align: center;
}

.info-box {
    border: 1px solid #16a085;
    display: block;
    min-height: 92px;
    background: #fff;
    width: 100%;
    /*box-shadow: 0 1px 1px rgba(0,0,0,0.1);*/
    border-radius: 2px;
    margin-bottom: 15px;
}

.info-box-icon{
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: #16a085;
    color: #ecf0f1;
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.info-box-text {
    font-family: 'Cabin', sans-serif;
    display: block;
    font-size: 16px;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 24px;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #fefefe;
    border: 1px solid #ccc;
    border-top: 3px solid #16a085;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box > .box-header {
    padding: 10px;
    border-bottom: 1px solid #f4f4f4;
}

.box-header > h3 {
    margin: 0;
}

.box > .box-content {
    padding: 10px;
}

ul.kategori, ul.sub-kategori {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

ul.kategori li {
    background-color: white;
}

ul.sub-kategori li {
    background-color: white;
    border-bottom: 1px solid #ddd;
}

li.parent-kategori {
    padding: 5px;
}

li.sub-kategori {
    padding: 5px 0 5px 50px;
}

li.placeholder {
    height: 30px;
    background-color: #1abc9c !important;
}

.gambar-iklan {
    width: 100%;
}