body {
    background-color: #1abc9c;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.input-lg,
.btn {
    border-radius: 0px !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    margin: 20px 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.auth {
    margin-top: 40px;
    text-align: center;
}

.box {
    margin-top: 20px;
    padding: 20px 40px;

    border-radius: 3px;
    background: #fefefe;
    border-bottom: 3px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.logo {
    margin: 0 auto;
}

.btn {
    width: 100%;
}

h4,
.register,
.register:hover,
.register:visited {
    color: #fefefe
}

.register {
    text-decoration: underline;
}