html {
    position: relative;
    min-height: 100%;
}

header {
    margin-top: 30px;
}

header .tombol-header {
    line-height: 80px;
}

header .header-message {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    padding: 10px 16px;
}

.form-control:focus {
    border-color: #27ae60;
    box-shadow: none;
}

.search {
    /*box-shadow: inset 0px 5px 0px 0px rgba(22,160,133,1);*/
    display: block;
    background-color: #ecf0f1;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
    /*box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.18);*/
}

.search .form-control {
    background-color: #1abc9c;
    border: none;
    box-shadow: none;
    color: #fff;
    padding: 10px 0px;
    border-radius: 4px;
}

.search .form-control:first-child {
    padding: 10px 16px;
}

.search .btn-default,
.search .input-group-addon {
    background-color: #1abc9c;
    border: none;
    height: 46px;
    color: #ecf0f1;
}

.search .btn-default {
    border-radius: 0 4px 4px 0;
}

.search .input-group-addon {
    border-radius: 4px 0 0 4px;
}

.search .btn-default:hover {
    color: #f1c40f;
}

.search .form-control::placeholder {
    color: #ecf0f1;
}

header .dropdown-menu {
    margin: -10px 0 0;
    min-width: 100%;
    font-size: 18px;
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 5px;
    padding-left: 5px;
}

section {
    padding: 20px 20px;
    margin-bottom: 240px;
    overflow: auto;
}

.category-button {
    display: inline-block;
    font-size: 64px;
    color: #222;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
    width: 100px;
    vertical-align: top;
}

.category-button i {
    width: 100px;
}

.category-button span {
    display: block;
    font-size: 18px;
    text-align: center;
    bottom: 10px;
    width: 100px;
}

.category-button:hover {
    text-decoration: none;
}

.category-button:not(:first-child),
.category-button:not(:last-child) {
    padding-right: 15px;
    padding-left: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 50px 0;
    width: 100%;
    background-color: #ecf0f1;
}

footer a {
    color: #222;
    display: block;
}

footer span {
    color: #222;
    display: block;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    color: #16a085;
}

footer .container {
    text-align: right;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.kategori-title {
    text-align: center;
}

.kategori-home {
    text-align: center;
}

.main-category-icon {
    display: block;
    font-size: 40px;
    text-align: center;
}

.main-category-name {
    display: block;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.category-selection-text {
    font-size: 18px;
    color: #16a085;
    display: inline-block;
    margin-right: 10px;
}

input[type="file"] {
    display: none;
}

.upload-gambar {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
    width: 100%;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.upload-gambar:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.edit-profile-conteiner {
    border: solid 1px #bdc3c7;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-userpic .picture {
    border-radius: 100%;
    display: block;
    margin: 0 auto 20px;
    height: 200px;
    width: 200px;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: 50%;
}

.profile-container {
    border: solid 1px #bdc3c7;
    padding: 20px 30px;
}

.edit-profile {
    display: block;
    margin: 0 auto;
    width: 150px;
}

.box-edit {
    display: block;
    margin: 0 auto;
    width: 500px;
}

.upload-foto {
    border: solid 1px #bdc3c7;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    margin-top: -3.5%;
    margin-left: 20.5%;
    background-color: white;
    cursor: pointer;
}

.upload-foto i {
    padding: 26%;
}

.upload-foto i:hover {
    color: #16a085;
}

.upload-foto span {
    position: absolute;
    left: 40px;
    top: 7px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-container-iklan {
    padding-right: 0 !important;
    position: relative;
}

.profile-container-iklan hr {
    margin: 5px 0 10px 0px;
}

.profile-container-iklan .verifikasi {
    background-color: #f1c40f;
    padding: 5px;
    margin-left: 5px;
    position: absolute;
    left: 110px;
    bottom: 0;
}

.profile-container-iklan .box {
    display: block;
    border: 1px solid #bdc3c7;
    height: 152px;
    position: relative;
    margin-bottom: 15px;
}

.profile-container-iklan.small .box {
    height: 102px !important;
    position: relative;
    margin-bottom: 10px;
}

.profile-container-iklan .box .gambar {
    width: 150px;
    height: 150px;
    background-size: cover;
    float: left;
    margin-right: 15px;
}

.profile-container-iklan.small .gambar {
    width: 100px;
    height: 100px;
}

.profile-container-iklan.small h3 {
    font-size: 18px;
    margin: 15px 0 0 0;
    display: inline-block;
}

.profile-container-iklan.small hr {
    margin: 5px 0;
}

.profile-container-iklan .box .detail .harga {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #1abc9c;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    font-family: 'Cabin', sans-serif;
    min-width: 170px;
}

.profile-container-iklan .box .detail .detail-minor {
    color: #333;
}

.iklan-right-col .harga {
    background-color: #1abc9c;
    color: #fff;
    font-family: 'Cabin', sans-serif;
    font-size: 28px;
    text-align: center;
    padding: 10px;
}

.iklan-right-col .box {
    background-color: #ecf0f1;
    margin-top: 10px;
    padding: 10px;
}

.iklan-right-col .beli {
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.iklan-right-col .profile p {
    margin-bottom: 5px;
}

.iklan-right-col .gambar {
    display: inline-block;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: 50%;
    float: left;
    margin-right: 10px;
}

.iklan-right-col h4 {
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 0;
}

.iklan-right-col .telepon h4 {
    vertical-align: middle;
    font-size: 24px;
    margin-top: 0;
    margin-left: 20px;
}

.iklan-right-col .pesan {
    margin-top: 10px;
}

.iklan-right-col .fa {
    margin-left: 6px;
}

.iklan-right-col .telepon .fa-circle {
    color: #1abc9c;
}

.detail-iklan {
    text-align: center;
}

.gambar-iklan-box {
    height: 400px;
    width: 100%;
}

#gambar-iklan {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.iklan-left-col img {
    width: 100%;
}

.iklan-left-col .deskripsi {
    margin-top: 20px;
}

.iklan-left-col .thumb {
    padding: 10px;
}

.iklan-left-col .thumb img {
    width: 16%;
    display: inline-block;
    margin-right: 5px;
    opacity: 0.7;
    cursor: zoom-in;
}

.iklan-left-col .thumb img:hover {
    opacity: 1;
}

.iklan-left-col .thumb img.selected {
    opacity: 1;
}

.iklan-left-col .komentar {
    position: relative;
}

.iklan-left-col .kirim {
    position: absolute;
    right: 0;
    bottom: 0;
}

.card {
    border: 1px solid #bdc3c7;
    margin-bottom: 20px;
}

.card a {
    color: #333;
}

.card .kategori {
    color: #1abc9c;
}

.card .card-image {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: 50% 50%;
}

.card .card-content {
    padding: 10px;
}

.card-content h5 {
    margin-top: 0;
    margin-bottom: 5px;
}

.card-content .harga {
    font-size: 18px;
    display: block;
    text-align: center;
}

.card-content hr {
    margin-bottom: 10px;
}

.komentar-isi ul {
    padding: 0;
}

.komentar-isi li {
    height: 60px;
    display: block;
    list-style: none;
}

.komentar-isi img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.komentar-isi span {
    display: block;
}

.notif-box {
}

.notif-box a {
    font-size: 16px;
}

.notif-box span {
    font-size: 14px;
}

.notif-new {
    background-color: #1abc9c;
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
}

.pilih-kabupaten-search td {
    border: none !important;
    width: 25%;
}

.pilih-kabupaten-search a {
    color: #16a085;
    font-family: Cabin, sans-serif;
}

.pesan span {
    color: #9d9d9d;
}

.pesan {
    display: block;
    border-bottom: 1px solid #eee;
    margin-top: 10px;
}

.pesan-form {
    position: relative;
}

.pesan-form .kirim {
    position: absolute;
    right: 0;
    bottom: 0;
}